@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Quadrante</h1>

    <div>
        <div style="float: left; width: 50%">
            <h1 class="display-4">Primeiro</h1>
            <input name="myTextBox" id="myTextBox" type="text">

        </div>
        <div style="float: right; width: 50%">
            <h1 class="display-4">Segundo</h1>
            <input name="myTextBox" id="myTextBox" type="text">

        </div>
    </div>
    <div>
        <div style="float: left; width: 50%">
            <h1 class="display-4">Terceiro</h1>
            <input name="myTextBox" id="myTextBox" type="text">

        </div>
        <div style="float: right; width: 50%">
            <h1 class="display-4">Quarto</h1>
            <input name="myTextBox" id="myTextBox" type="text">

        </div>
    </div>

</div>