
@{
    ViewData["Title"] = "OnlyAdmins";
}


<div class="text-center">
    <h1>Welcome Administrador @User.Identity.Name</h1>
    <img src="\images\XD.jpg" alt="Learn HTML5" height="250" width="270" />
</div>