
@{
    ViewData["Title"] = "OnlyClients";
}

<div class="text-center">
    <h1>Welcome Cliente @User.Identity.Name</h1>
    <img src="\images\Hehe.jpg" alt="Learn HTML5" height="250" width="270" />
</div>
